/*===============  ===============*/
/*=============== GOOGLE FONTS ===============*/


/*=============== VARIABLES CSS ===============*/
:root {
    /*=============== Colors ===============*/
    --hue-color: ;
    --first-color: ;
    --title-color: ;
    --text-color: ;
    --text-color-light: ;
    --white-color: ;
    --body-color: ;

    /*=============== Font and typography ===============*/
    /*===============  ===============*/
}

/*===============  ===============*/